@import "~antd/dist/antd.less";

html,
body,
#root,
.the-layout {
  height: 100%;
  margin: 0;
}

.main-content {
  position: relative;
  overflow: hidden;
  background: #fafafa;
  height: 100%;
}

.ant-btn:focus {
  color: inherit;
  border-color: #d9d9d9;
}
